OP_1_Backup_Library/
.DS_Store
*.pyc
.DS_Store
.idea/misc.xml
.idea/modules.xml
.idea/OP1_File_Organizer.iml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/OP1_File_Organizer.iml
.DS_Store
